.game-menu {
  margin: 0 auto !important;
  max-width: 90vw;
}
.game-board {
  margin: 0 auto !important;
  max-width: 45vw !important;
}

.game-title {
  display: block;
  margin: 0 auto !important;
  margin-left: 40vw !important;
}
